@page
@model RazorPizza.Pages.Checkout.Checkout

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <a class="nav-link text-dark" asp-area="" asp-page="Checkout/ThankYou">Thank You!</a>
</div>
</body>
</html>