@page
@model RazorPizza.Pages.Pizza

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <a class="nav-link text-dark" asp-area="" asp-page="Forms/CustomPizza">Custom Pizza</a>
    <a class="nav-link text-dark" asp-area="" asp-page="Checkout/Checkout">Checkout</a>
</div>
</body>
</html>